.dsn-accordion {
  line-height: 1.2;

  .accordion__answer {
    display: none;

    &.active {
      display: block;
    }
  }

  .accordion__item:last-of-type {
    margin-bottom: 0;
  }

  .accordion__question {
    position: relative;
    cursor: pointer;
    user-select: none;

    &:not(:first-of-type){
      padding: 8px 15px 0 0;
    }


    h4 {
      font-weight: normal;
      margin-bottom: 0;
      letter-spacing: 0;
      font-size: 22px;
      @include media_575 {
        font-size: 20px;
      }
    }


    &:not(.expanded):before {
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
      padding: 3px;
    }



    &.expanded:before {
      border-width: 1px;
      width: 10px;
    }

  }


}

.services-accordion {
  .accordion__item {
    padding: 30px 30px 0 40px;
    @include media_575 {
      padding: 30px 10px 0 10px;
    }
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    .accordion__question {

      .icons {
        transition: 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        .minus {
          display: none;
        }
        svg {
          path {
            fill: $heading-color;
          }
        }
      }
    }

    &.active {
      padding: 30px 30px 30px 40px;
      background-color: rgb(41 169 225 / 18%);
      border-radius: 7px;
      @include media_575 {
        padding: 30px 10px 30px 10px;
      }  
      .accordion__question {
        .icons {
          .plus {
            display: none;
          }
          .minus {
            display: block;
          }
        }
      }
    }

    .accordion__answer {
      margin-top: 10px;
      .text {
        .title-block {
          @include media_575 {
            font-size: 16px;
          }
        }
      }

      .icons {
        background-color: $theme-color;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 40px;

          path {
            fill: transparent;
            stroke: $heading-color;
          }
        }
      }

      ul {
        li {

          &:not(:last-of-type) {
            margin-bottom: 5px;
          }
        }
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

  }
}


.head-test {
  padding: 30px 30px 4px 40px;
  background-color: #ffffff;
  transition: all 0.2s ease;

}
.test {
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}