.our-process {
 
  .card {
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;

    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 8;
    }
    
    h3 {
      padding: 15px;
      font-size: 1.2em;
      color: #333;
    }
    
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
  }
  

}