.services-section {
  
  .section-title:not(.main) {
    @include media_991 {
      margin-top: 50px;
    }
  } 

  .box {
    padding: 10px;
    height: 375px;
    border-radius: 15px;
    background-image: url(../img/main-pattern.png);
    background-position: center;
    background-size: cover;

    .box-video {
      aspect-ratio: 1 / 1;
      max-height: 250px;
      width: 100%;
      video {
        cursor: pointer;
      }
      @include media_1200 {
        max-height: 200px;
      }
      @include media_768X991 {
        max-height: 230px;
      }
      @include media_400X575 {
        max-height: 250px;
      }
    }
    .box-info {
      h6 {
        font-size: 20px;
        color: #000;
        margin: 10px 0;
        text-transform: uppercase;
        letter-spacing: 0;
      }
      p {
        color: #000;
        line-height: 1.6;
      }
    }

    @include media_1200(min) {
      height: 400px;
    }
  }

}

.popup-vid-overlay-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popup-content-2 {
      position: relative;
      width: 90%;
      max-width: 400px;
      max-height: 400px;
  }
  
  .popup-content-2 video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      max-height: inherit;
  }
  
  #close-popup-2 {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      color: #fff;
      cursor: pointer;
      z-index: 1001;
  }

}  